[Desktop Entry]
Encoding=UTF-8
Name=Link to In Introduction to HTTP Basics
Type=Link
URL=http://www3.ntu.edu.sg/home/ehchua/programming/webprogramming/HTTP_Basics.html
Icon=mate-fs-bookmark
